<div>
  <ul>
    <li>
      <a
        [routerLink]="['/']"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact: true}"
      >
      <!-- routerLink controla para qual pagina sera redirecionado, Active para puxar um css para mostrar opção ativa e Options{exact true} pra deixar somente a opção exata marcada -->

        MENU
      </a>
    </li>
    <li>
      <a
        [routerLink]="['/portifolio']"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact: true}"
      >
        PORTIFOLIO
      </a>
    </li>
  </ul>
</div>
